# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from api_keys import g_key
#print(g_key)

In [16]:
#pip install gmaps

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [17]:
weather_data = pd.read_csv("../starter_code/output_data/cities.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Tuatapere,66,NZ,1597077046,90,-46.13,167.68,46.99,10.00
1,Bredasdorp,0,ZA,1597077046,67,-34.53,20.04,60.80,5.82
2,Philadelphia,20,US,1597077033,58,39.95,-75.16,93.00,6.93
3,Arraial do Cabo,0,BR,1597077046,48,-22.97,-42.03,82.40,16.11
4,Airai,81,TL,1597077046,100,-8.93,125.41,58.71,1.45
...,...,...,...,...,...,...,...,...,...
563,São João da Barra,20,BR,1597077110,54,-21.64,-41.05,80.60,16.11
564,Avera,1,US,1597076918,70,33.19,-82.53,86.00,6.93
565,Dzaoudzi,8,YT,1597077110,78,-12.79,45.27,73.40,6.93
566,Minden,20,DE,1597077110,35,52.28,8.92,88.00,12.75
567,Soyo,40,AO,1597077110,83,-6.13,12.37,75.20,16.11

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [18]:
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]
temperature = weather_data["Max Temp"]
print(locations.shape)
print(humidity.shape)

(568, 2)
(568,)

In [20]:
# Plot Heatmap
#fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = temperature, max_intensity=np.max(temperature))

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
5,Avarua,0,CK,1597077047,73,-21.21,-159.78,71.60,6.93
9,Castro,0,BR,1597077047,44,-24.79,-50.01,73.51,8.63
171,Cidreira,0,BR,1597077067,47,-30.18,-50.21,77.36,7.52
205,Falun,0,SE,1597077070,40,60.60,15.63,77.00,3.36
230,Morro Bay,0,US,1597077074,87,35.37,-120.85,71.01,1.99
446,Hazorasp,0,UZ,1597077098,44,41.32,61.07,75.20,6.93
479,Peruíbe,0,BR,1597076979,50,-24.32,-47.00,79.50,4.50
528,Lingyuan,0,CN,1597077106,39,41.24,119.40,70.09,4.43
543,Torres,0,BR,1597076863,45,-29.34,-49.73,78.37,7.81

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

          City Country    Lat     Lng Hotel Name
5       Avarua      CK -21.21 -159.78
9       Castro      BR -24.79  -50.01
171   Cidreira      BR -30.18  -50.21
205      Falun      SE  60.60   15.63
230  Morro Bay      US  35.37 -120.85
446   Hazorasp      UZ  41.32   61.07
479    Peruíbe      BR -24.32  -47.00
528   Lingyuan      CN  41.24  119.40
543     Torres      BR -29.34  -49.73

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [9]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 5: Avarua.
Closest hotel in Avarua is The Rarotongan Beach Resort & Lagoonarium.
------------
Retrieving Results for Index 9: Castro.
Closest hotel in Castro is Central Palace Hotel - Castro (PR).
------------
Retrieving Results for Index 171: Cidreira.
Closest hotel in Cidreira is Pond Country Club.
------------
Retrieving Results for Index 205: Falun.
Closest hotel in Falun is Clarion Collection Hotel Bergmästaren.
------------
Retrieving Results for Index 230: Morro Bay.
Closest hotel in Morro Bay is Inn at Morro Bay.
------------
Retrieving Results for Index 446: Hazorasp.
Closest hotel in Hazorasp is Asqar Bussines Hotel.
------------
Retrieving Results for Index 479: Peruíbe.
Closest hotel in Peruíbe is Peruíbe Suíte Flat Hotel.
------------
Retrieving Results for Index 528: Lingyuan.
Closest hotel in Lingyuan is Lingyuan International Hotel.
------------
Retrieving Results for Index 543: Torres.
Closest hotel in Torres is Dunas Praia Hotel.
------------
-------End of Search-------

In [10]:
# Display the hotel dataframe
hotel_df

,City,Country,Lat,Lng,Hotel Name
5,Avarua,CK,-21.21,-159.78,The Rarotongan Beach Resort & Lagoonarium
9,Castro,BR,-24.79,-50.01,Central Palace Hotel - Castro (PR)
171,Cidreira,BR,-30.18,-50.21,Pond Country Club
205,Falun,SE,60.60,15.63,Clarion Collection Hotel Bergmästaren
230,Morro Bay,US,35.37,-120.85,Inn at Morro Bay
446,Hazorasp,UZ,41.32,61.07,Asqar Bussines Hotel
479,Peruíbe,BR,-24.32,-47.00,Peruíbe Suíte Flat Hotel
528,Lingyuan,CN,41.24,119.40,Lingyuan International Hotel
543,Torres,BR,-29.34,-49.73,Dunas Praia Hotel

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))